/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

img {
  width: 20px; /* largeur souhaitée */
  height: auto; /* garder les proportions originales */
  margin-left: 10px;
}


button:hover {
  background-color: #d32f2f;
}

input[type="text"] {
  width: calc(100% - 80px);
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

